{% extends 'base.html.twig' %}

{% block body %}
{% for post in posts %}
<div class="blog-post">
  <h2 class="blog-post-title">
  <a href="{{path('_show', {'id': post.id})}}">
    {{post.title}}</h2>
  </a>
  <p class="blog-post-meta">{{post.date|date('d.m.Y')}}
    <a href="{{path('_edit', {'id': post.id})}}">Update</a>
  </p>
  <p>{{post.content}}</p>

</div><!-- /.blog-post -->
  {% endfor %}
  <nav>
  <ul class="pager">
    <li><a href="#">Previous</a></li>
    <li><a href="#">Next</a></li>
  </ul>
</nav>
{% endblock %}
