{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comment list</h1>

    <table>
        <thead>
            <tr>
                <th>Content</th>
                <th>Date</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.content }}</td>
                <td>{% if comment.date %}{{ comment.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ comment.author }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('comment_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="blog-post">
      {{form_start(form)}}
        {{form_widget(form)}}
          <input class="btn btn-primary pull-right" type="submit" value="Comment" />
    {{ form_end(form) }}
    </div>
{% endblock %}
